*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
table{
    border: 1px solid rebeccapurple;
    padding: 2px;
}
th{
    border: 2px solid #339966;
}
td{
    padding: 5px;
    border: 1px solid #996633;
}